<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  style="background-color: #0a472e; border: none;"  class="links-container">
        <div class="links-div">
            <div class="links-flex-item">
                <h5>STORE LOCATION</h5>
                <p>9006 Green Lake Drive C hevy Chase, MD 20815</p >
                <p>Monday - Saturday</p>
                <h3>8:00 am - 4:00 pm</h3>
                <p>Sunday</p>
                <h3>9:00 am - 5:00 pm</h3>
                
            </div>
            <div class="links-flex-item specific-padding">
                <h5>INFORMATION</h5>
                <p class="link">About us</p>
                <p class="link">Blog</p>
                <p class="link">Check out</p>
                <p class="link">Contact</p>
                <p class="link">Service</p>
            </div>
            <div class="links-flex-item">
                <h5>CATEGORIES</h5>
                <p class="link">Fruits & Vegetables</p>
                <p class="link">Dairy Products</p>
                <p class="link">Package Foods</p>
                <p class="link">Beverages</p>
                <p class="link">Health & Wellness</p>
            </div>

            <div class="links-flex-item specific-padding">
                <h5>ACCEPT PAYMENT</h5>
                <img src="/images/Homepage/payment_2.png">
                <h5>Follow Us</h5>
                <div class="social-div">
                    <img class="link" src="/images/Homepage/facebook.png">
                    <img class="link" src="/images/Homepage/youtube.png">
                    <img class="link" src="/images/Homepage/twitter.png">
                    <img class="link" src="/images/Homepage/instagram.png"> 
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #0a472e;" class="footer-container">
        <div class="footer-div">
            <div>Copyright © 2024 <a href="#">Freshio.</a> All Rights Reserved.</div>
        </div>
    </div>
    <script type="module" src="/scripts/index.js"></script>
</body>
</html>