<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0" />
    <link href="https://db.onlinewebfonts.com/c/875fffdfa62169a0f131e90f37f1faf4?family=MazzardH-Medium" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="upper-header-container">

        <div class="upper-header">
            <div class="upper-left">
                    <img class="logo-img" src="images/Homepage/logo.svg">       
            </div>
            <div class="upper-right">
                <div class="search-container">
                    <div class="search-icon-div">
                        <img class="search-icon" src="images/Homepage/search.png">
                    </div>
                    <input class="search-box" type="search" placeholder="Search products..">
                    <div class="search-text">
                       <span> Search</span>
                    </div>
                </div>
               <div class="icons-div-container">
                <div class="icons-div">
                    
                    <div class="icon profile dropdown">
                        <img class="icon-img dropbtn" src="images/Homepage/profile.png">
                        <div class="dropdown-content">
                            <h2>Welcome</h2>
                            <p>To access account and manage orders</p>
                            <div class="login"><a href="/login">LOGIN / SIGNUP</a></div>
                        </div>
                    </div>

                    <div class="icon heart"><img class="icon-img" src="images/Homepage/heart.png"></div>
                    <div class="icon basket"><img class="icon-img" src="images/Homepage/basket.png"></div>
                    <span>£0.00</span>
                </div>
               </div>
            </div>
        </div>

    </div>

    <div class="below-header-container">
        <div class="content-div">
            <div class="left-content">
                <div class="left-shop-dept">
                    <button class="shop-dept-button">
                        <div class="menu-icon-div">
                            <img class="menu-icon" src="images/Homepage/menu64.png">
                        </div>
                        <p>Shop by Department</p>
                    </button>
                </div>
                <div style="border: 1px solid rgb(158, 156, 156); height: 60%;"></div>
                <div class="left-nav">
                    <span class="left-nav-text" style="color: #a8b324;">Home <img class="down-arrow" src="images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text">Shop <img class="down-arrow" src="images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text">Page <img class="down-arrow" src="images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text">Blog <img class="down-arrow" src="images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text contact-nav-text">Contact</span>
                </div>
            </div>

            <div class="right-content">
                <img class="headphone" src="images/Homepage/headphones.png">
                (1800)-88-66-991
            </div>
        </div>
    </div>
</body>
</html>