<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="checkout.css" />
    <title>Checkout - Freshio</title>
  </head>
  <body
    style="
      height: 100%;
      width: 100%;
      background-image: none;
      padding: 0;
      font-family: MazzardH-Medium;
    "
  >
    <main class="main-container">
      <%- include('partials/header.ejs'); -%>
      <div class="contact-snippet">
        <img src="images/Homepage/cart-snippet.jpeg" />
      </div>
      <div class="main-box-checkout">
        
      </div>

      
       
    </main>
    <%- include('partials/footer.ejs'); -%>
    <script type="module" src="scripts/checkout.js"></script>
  </body>
</html>
