<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="checkout.css" />
    <title>Checkout - Freshio</title>
  </head>
  <body
    style="
      height: 100%;
      width: 100%;
      background-image: none;
      padding: 0;
      font-family: MazzardH-Medium;
    "
  >
    <main class="main-container">
      <%- include('partials/header.ejs'); -%>
      <div class="contact-snippet">
        <img src="images/Homepage/checkout-page-snippet.jpg" />
      </div>

      <div class="main-box-container">
        <div class="checkout-content-div">
          <div class="billing-form-container">
            <h2>Billing Details</h2>
            <div class="user-name">
              <div style="width:48%;" class="flex-down">
                <label for="fName" class="required">First name</label>
                <input required maxlength="8" type="text" name="fName" id="fName">
              </div>
              <div style="width:48%;" class="flex-down">
                <label for="lName" class="required">Last name</label>
                <input max="10" required type="text" name="lName" id="lName">
              </div>
            </div>
            <div class="flex-down">
              <label for="company-name">Company Name (optional)</label>
              <input type="text" name="company-name" id="company-name">
            </div>
            <div class="flex-down">
              <label for="country-name" class="required">Country / Region</label>
              <select required id="country-name" name="country-name">
                <option value="India">India</option>
                <option value="UAE">United Arab Emirates</option>
                <option value="UK">United Kingdom (UK)</option>
                <option value="France">France</option>
              </select>
            </div>
            <div class="flex-down">
              <label for="street-address1">Street Address</label>
              <input type="text" placeholder="House number and street name" name="street-address1" id="street-address">
              <input type="text" placeholder="Apartment, suite, unit, etc (optional)" name="street-address2" id="street-address2">
            </div>
            <div class="flex-down">
              <label for="town" class="required">Town / City</label>
              <input required type="text" name="town" id="town">
            </div>
            <div class="flex-down">
              <label for="postcode" class="required">Postcode</label>
              <input required type="text" minlength="6" maxlength="6" name="postcode" id="postcode">
            </div>
            <div class="flex-down">
              <label for="Phone" class="required">Phone</label>
              <input required type="text" maxlength="10" name="Phone" id="Phone">
            </div>
            <h2 style="padding-top: 15px;">Additional information</h2>
            <div class="flex-down">
              <label for="order-notes">Order notes (optional)</label>
              <textarea style="resize: none;" placeholder="Notes about your order, e.g. special notes for delivery" name="order-notes" id="order-notes" rows="3" ></textarea>
            </div>
          </div>

          <div class="summary-container">
            <h2>Your order</h2>
            <div class="order-table">
              <table>
                <tr>
                  <td class="dark">Product</td>
                  <td class="dark">Subtotal</td>
                </tr>
                <tbody>

                  <!--dynamic content add here -->
                  <tr>
                    <td>Gorgeous Steel Wallet 1</td>
                    <td class="dark">1000.00</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="dark">Subtotal</td>
                    <td class="dark">10000</td>
                  </tr>
                  <tr >
                    <td style="border: none;" class="dark">Total</td>
                    <td style="border: none;"  class="main-price">10000</td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="payment-container">
              <p>Sorry, it seems that there are no available payment methods for your state. Please contact us if you require assistance or wish to make alternate arrangements.</p>
            </div>
            <div class="privacy-consent">
              <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
            </div>
            <a href="/payNow"><button class="payNow">Place Order</button></a>
          </div>
        </div>
      </div>

      
       
    </main>
    <%- include('partials/footer.ejs'); -%>
    <script type="module" src="scripts/checkout.js"></script>
  </body>
</html>
