<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Freshio</title>
</head>
<body style="height: 100%; width: 100%; background-image: none; padding: 0; font-family: MazzardH-Medium">
    
    <main class="main-container">

    <%- include('partials/header') %>

    
        <div class="contact-snippet">
            <img src="images/Homepage/contact-snippet.jpeg">
        </div>

        <div class="contact-container">
            <div class="left-container">
                <img src="images/Homepage/contact1.jpeg">
            </div>
            <div class="right-container">
                <div class="right-heading">
                    <p>We Love to Hear From You</p>
                </div>
                <p class="right-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quo cum quidem placeat molestias atque architecto consectetur eum, hic rerum neque adipisci impedit perspiciatis iusto omnis aspernatur? Odio, culpa id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat impedit deleniti provident hic .</p>
                <div class="inner-flex">
                    <div class="inner-left">
                        <div class="inner-left-heading">
                            <p>OUR STORE</p>
                        </div>
                        <div class="inner-left-text">
                            <p>Box 565, Charlestown, Nevis, West</p>
                        <p>Indies, Caribbean</p>
                        </div>
                        <div class="inner-left-heading">
                            <p>CONTACT INFORMATION</p>
                        </div>
                        <div class="inner-left-text">
                            <p>(844) 1800-3355</p>
                        <p>info@example.com</p>
                        </div>
                    </div>
                    <div class="inner-right">
                        <div class="inner-right-heading">
                            <p>OUR BUSINESS HOURS</p>
                        </div>
                        <div class="inner-right-text">
                            <p>Monday - Friday:</p>
                            <span>8am - 4pm</span>
                            <p>Saturday, Sunday:</p>
                            <span>9am - 5pm</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="right-heading">Leave A Message</div>
                <input type="text" class="contact-input" placeholder="Your Name">
                <input type="text" class="contact-input" placeholder="Email">
                <input type="text" class="contact-input" placeholder="Subject" >
                <textarea placeholder="Message" class="contact-input" cols="100" rows="5"></textarea>
                <button class="contact-submit">Submit</button>
            </div>
        </div>

    <%- include('partials/footer') %>

</main>
</body>
</html>