<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshio</title>
    <link rel="stylesheet" href="../public/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0" />
    <link href="https://db.onlinewebfonts.com/c/875fffdfa62169a0f131e90f37f1faf4?family=MazzardH-Medium" rel="stylesheet" type="text/css"/>

</head>
<body>
    <nav class="navbar-container">
        <div class="navbar">
            <div class="navbar-left">
                <p>FREE express international delivery + EASY returns</p>
            </div>
            <div class="navbar-right">
                <span>ABOUT</span>
                <span>FAQ</span>
                <span>CONTACT US</span>
            </div>
        </div>
    </nav>

    <main class="main-container">

        <div class="upper-header-container">

            <div class="upper-header">
                <div class="upper-left">
                        <img class="logo-img" src="/public/images/Homepage/logo.svg">       
                </div>
                <div class="upper-right">
                    <div class="search-container">
                        <div class="search-icon-div">
                            <img class="search-icon" src="/public/images/Homepage/search.png">
                        </div>
                        <input class="search-box" type="search" placeholder="Search products..">
                        <div class="search-text">
                           <span> Search</span>
                        </div>
                    </div>
                   <div class="icons-div-container">
                    <div class="icons-div">
                        <div class="icon profile"><img class="icon-img" src="/public/images/Homepage/profile.png"></div>
                        <div class="icon heart"><img class="icon-img" src="/public/images/Homepage/heart.png"></div>
                        <div class="icon basket"><img class="icon-img" src="/public/images/Homepage/basket.png"></div>
                        <span>£0.00</span>
                    </div>
                   </div>
                </div>
            </div>

        </div>

        <div class="below-header-container">
            <div class="content-div">
                <div class="left-content">
                    <div class="left-shop-dept">
                        <button class="shop-dept-button">
                            <div class="menu-icon-div">
                                <img class="menu-icon" src="/public/images/Homepage/menu64.png">
                            </div>
                            <p>Shop by Department</p>
                        </button>
                    </div>
                    <div style="border: 1px solid rgb(158, 156, 156); height: 60%;"></div>
                    <div class="left-nav">
                        <span class="left-nav-text" style="color: #a8b324;">Home <img class="down-arrow" src="/public/images/Homepage/down-arrow.png"></span>
                        <span class="left-nav-text">Shop <img class="down-arrow" src="/public/images/Homepage/down-arrow.png"></span>
                        <span class="left-nav-text">Page <img class="down-arrow" src="/public/images/Homepage/down-arrow.png"></span>
                        <span class="left-nav-text">Blog <img class="down-arrow" src="/public/images/Homepage/down-arrow.png"></span>
                        <span class="left-nav-text contact-nav-text">Contact</span>
                    </div>
                </div>

                <div class="right-content">
                    <img class="headphone" src="/public/images/Homepage/headphones.png">
                    (1800)-88-66-991
                </div>
            </div>
        </div>

        <div class="banner-container">
            <div class="banner-div">
                <div class="item-1">
                    <div class="item-one-inner">
                        <p class="freshAndTasty">Freshio and Tasty</p>
                        <p>
                            <p class="farmMarket">Farm Market</p>
                            <p class="farmMarket">Organic Shop</p>
                        </p>
                        <a class="shop-now" href="#">Shop now &gt;&gt;</a>
                        <div class="banner-move">
                            <div class="move-circle">&larr;</div>
                            <div class="move-circle">&rarr;</div>
                        </div>
                    </div>
                </div>
                <div class="item-2">
                    <div class="item-two-first-inner">
                        <div class="discover">
                            <p>Discover</p>
                            <p>Real Organic</p>
                            <p>Flavors</p>
                        </div>
                        <div class="discover-below">
                            <a class="shop-now-again" href="#">Shop now &gt;&gt;</a>
                        </div>
                    </div>
                </div>
                <div class="item-2">
                    <div class="item-two-inner">
                        <div class=" translate summer-sale">Summer Sale</div>
                        <div class=" translate fifty">50<sup>%</sup> Off</div>
                        <div class=" translate vitamins">Vitamins, Supplements and Herbs</div>
                        <a class="translate shop-now-item3" href="#">Shop now &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-container">
            <div class="feature-grid">
                <div class="feature-item feature-item-1">
                    <div class="main-item">
                        <div class="item-img">
                            <img src="/public/images/Homepage/curated-products.jpg">
                        </div>
                        <div class="item-text">
                            <div class="item-heading">Curated Products</div>
                            <div class="item-normal-text">from Handpicked Sellers</div>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="main-item">
                        <div class="item-img">
                            <img src="/public/images/Homepage/handmade.jpg">
                        </div>
                        <div class="item-text">
                            <div class="item-heading">Handmade</div>
                            <div class="item-normal-text">Made with passion by 300+
                                curators across the country.</div>
                        </div>
                       
                    </div>
                </div>
                <div class="feature-item">
                    <div class="main-item">
                        <div class="item-img">
                            <img src="/public/images/Homepage/natural.jpg">
                        </div>
                        <div class="item-text">
                            <div class="item-heading">100% Natural</div>
                            <div class="item-normal-text">Eat local, consume local, closer to nature</div>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="main-item">
                        <div class="item-img">
                            <img src="/public/images/Homepage/shipping.jpg">
                        </div>
                        <div class="item-text">
                            <div class="item-heading">Shipping</div>
                            <div class="item-normal-text">Acorss West & East India</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-products-container">
            <div class="feature-products">
                <div class="heading-feature">
                    <p class="feature-text-green"><span class="green-circle"> &#128903;</span>Feature Products</p>
                </div>
                <div>
                    <p><a class="shop-now shop-now-feature" href="#">Shop all &gt;&gt;</a></p>
                </div>
            </div>
        </div>

        <div class="products-container">
            <div class="products-grid">
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/linsed-product.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Organic Linsed Brown</div>
                        <div class="product-price">From £930.04</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/hemp-seeds.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Hemp Seeds 250gm</div>
                        <div class="product-price">From £36.99</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/lupin-beans.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Lupin Beans</div>
                        <div class="product-price">From £110</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/plum-halves.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Plum Halves</div>
                        <div class="product-price">From £230.54</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
               
            </div>
        </div>

        <div class="banner-container-2">
            <div class="banner-div-2">
               <div class="style-item-1">
                    <div class="style-item-text-div1">
                        <div class="inner-item-text">
                            <p>Fruits &</p>
                            <p class="line-text1">Vegetables</p>
                        </div>
                        
                    </div>
               </div>
               <div class="style-item-2">
                    <div class="style-item-text-div2">
                        <div class="inner-item-text">
                            <p class="line-text2">Daily Bread & Eggs</p>
                        </div>
                    </div>
               </div>
               <div class="style-item-3">
                    <div class="style-item-text-div3">
                        <div class="inner-item-text">
                            <p>Health &</p>
                            <p class="line-text3">Wellness</p>
                        </div>
                    </div>
               </div>
               <div class="style-item-4">
                    <div class="style-item-text-div4">
                        <div class="inner-item-text">
                            <p>Package</p>
                            <p class="line-text4">Foods</p>
                        </div>
                    </div>
               </div>
               <div class="style-item-5">
                    <div class="style-item-text-div5">
                        <div class="inner-item-text">
                            
                            <p class="line-text5">Beverages</p>
                        </div>
                    </div>
               </div>
               
            </div>
        </div>

        
        <div class="products-container-2">
            <div class="products-grid">
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/linsed-product.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Organic Linsed Brown</div>
                        <div class="product-price">From £930.04</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/hemp-seeds.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Hemp Seeds 250gm</div>
                        <div class="product-price">From £36.99</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/lupin-beans.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Lupin Beans</div>
                        <div class="product-price">From £110</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="/public/images/Homepage/plum-halves.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="/public/images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="/public/images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Plum Halves</div>
                        <div class="product-price">From £230.54</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
               
            </div>
        </div>


    </main>
</body>
</html>