<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - Freshio</title>
    <link rel="stylesheet" href="/products.css">
    
    
</head>
<body style="height: 100%; width: 100%; background-image: none; padding: 0; font-family: MazzardH-Medium">

    
   <main class="main-container">

    <%- include('partials/header.ejs'); -%>
    <div class="contact-snippet">
        <img src="/images/Homepage/shop-snippet.jpg">
    </div>
    <div class="toggle"><img src="/images/Homepage/setting.jpeg">Filter</div>
    <div class="main-box-container">
        
        <div class="filter-container">
            <button class="close-btn">Close</button>
            <p class="filter-heading">Explore</p>
            <hr>
            <div class="filter">
                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'beverages') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/beverages"><p>Beverages<span class="filter-quantity"> (5)</span></p></a>
                    </div>
                </div>

                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'bread') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/bread"><p>Dairy Bread & Eggs<span class="filter-quantity"> (6)</span></p></a>
                    </div>
                </div>
                
                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'vegetables') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/vegetables"><p>Fruits & Vegetables<span class="filter-quantity"> (7)</span></p></a>

                    </div>
                </div>

                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'grocery') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/grocery"><p>Grocery & Staples<span class="filter-quantity"> (7)</span></p></a>

                    </div>
                </div>

                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'health') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/health"><p>Health & Wellness<span class="filter-quantity"> (3)</span></p></a>

                    </div>
                </div>

                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'leafy') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/fruits"><p>Leafy Green<span class="filter-quantity"> (4)</span></p></a>

                    </div>
                </div>

                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'meat') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/meat"><p>Package Foods<span class="filter-quantity"> (5)</span></p></a>

                    </div>
                </div>

                <div class="filter-items">
                    <div class="triangle"><p>&#128898</p></div>
                    <div class="filter-text"><a  <% if (locals.activeTopic === 'all') { %> style="color: #a8b324;" <% } %>  href="/filter/topicToSearch/all"><p>Uncategorized<span class="filter-quantity"> (5)</span></p></a>

                    </div>
                </div>


                <p class="filter-heading">Product tags</p>
                <hr>
                <div class="product-tag">
                    <a href="/filter/topicToSearch/all"><div class="tag-text">All</div></a>
                    <a href="/filter/topicToSearch/bread"><div <% if (locals.activeTopic === 'bread') { %> style="background-color: #a8b324;" <% } %> class="tag-text">bread</div></a>
                    <a href="/filter/topicToSearch/fruits"><div <% if (locals.activeTopic === 'fruits') { %> style="background-color: #a8b324;" <% } %> class="tag-text">fruits</div></a>
                    <a href="/filter/topicToSearch/healthy"><div <% if (locals.activeTopic === 'healthy') { %> style="background-color: #a8b324;" <% } %> class="tag-text">healthy</div></a>
                    <a href="/filter/topicToSearch/juices"><div <% if (locals.activeTopic === 'juices') { %> style="background-color: #a8b324;" <% } %> class="tag-text">juices</div></a>
                    <a href="/filter/topicToSearch/meat"><div <% if (locals.activeTopic === 'meat') { %> style="background-color: #a8b324;" <% } %> class="tag-text">meat</div></a>
                    <a href="/filter/topicToSearch/natural"><div <% if (locals.activeTopic === 'natural') { %> style="background-color: #a8b324;" <% } %> class="tag-text">natural</div></a>
                    <a href="/filter/topicToSearch/organic"><div <% if (locals.activeTopic === 'organic') { %> style="background-color: #a8b324;" <% } %> class="tag-text">organic</div></a>
                    <a href="/filter/topicToSearch/tomato"><div <% if (locals.activeTopic === 'tomato') { %> style="background-color: #a8b324;" <% } %> class="tag-text">tomato</div></a>
                    <a href="/filter/topicToSearch/vegetables"><div <% if (locals.activeTopic === 'vegetables') { %> style="background-color: #a8b324;" <% } %> class="tag-text">vegetables</div></a>
                </div>
                
            </div>
        </div>
        <div class="products-page-container">
            <div class="products2-grid">
               <%- productHtml %>
            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs'); -%>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    const toggleButton = document.querySelector('.toggle');
    const filterContainer = document.querySelector('.filter-container');
    const closeButton = document.querySelector('.close-btn');

    toggleButton.addEventListener('click', function() {
        filterContainer.classList.toggle('show');
        toggleButton.classList.toggle('show-filter');
    });

    closeButton.addEventListener('click', function() {
        filterContainer.classList.remove('show');
        toggleButton.classList.remove('show-filter');
    });

    // Show the toggle button at 1100px width
    function handleResize() {
        if (window.innerWidth <= 1100) {
            toggleButton.style.display = 'block';
        } else {
            toggleButton.style.display = 'none';
            // Close filter if open when resizing
            filterContainer.classList.remove('show');
            toggleButton.classList.remove('show-filter');
        }
    }

    window.addEventListener('resize', handleResize);
    handleResize(); // Call initially to set the initial state
});

    </script>
    
</body>
</html>