 <!-- <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/linsed-product.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Organic Linsed Brown</div>
                        <div class="product-price">From £930.04</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/hemp-seeds.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Hemp Seeds 250gm</div>
                        <div class="product-price">From £36.99</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/lupin-beans.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Lupin Beans</div>
                        <div class="product-price">From £110</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/plum-halves.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Plum Halves</div>
                        <div class="product-price">From £230.54</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div> -->















                 <!-- <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/baked-gaints-beans.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Baked Gaint Beans</div>
                        <div class="product-price">From £930.04</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/hemp-seeds.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Hemp Seeds 250gm</div>
                        <div class="product-price">From £36.99</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/biona-green.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Cornichos Organic</div>
                        <div class="product-price">From £110</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div>
                <div class="div-item">
                   <div class="img-div">
                    <img class="product-img" src="images/Homepage/plum-halves.jpg">
                    <div class="hidden-features">
                        <p><img class="feature-icon" src="images/Homepage/filledheart.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/shuffle.png"></p>
                        <p><img class="feature-icon" src="images/Homepage/eye.png"></p>
                    </div>
                   </div>
                   <div class="product-text-div">
                        <div class="product-name">Plum Halves</div>
                        <div class="product-price">From £230.54</div>
                        <div class="product-status-container">
                            <div class="product-status">ADD TO CART &gt;&gt; </div>
                        </div>
                   </div>
                </div> -->